<main>
    <section class="form-section">
        <!-- Correct path without leading slash -->
        <img src="/assets/logo.png"/>
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="button-wrapper">
            <button 
                class="button-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryButton"    
            >
                {{ primaryButtonText }}
            </button>
        <div>
        <div>
            <span class="divider">
                <div></div>
                or
                <div></div>
            </span>
        </div>
        </div>
        <button class="button-secondary" (click)="navigate()">{{ secondaryButtonText }}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>You should compete!!</h1>
        <!-- Fixed img tag with proper src -->
        <img src="assets/main-illustration.png" alt="Competition"/>
    </section>
</main>
